:root {
    --main-color: rgb(219, 21, 59);
    --text-color: rgb(221, 221, 221);
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('/assets/home.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    overflow: hidden;
    margin-left: 64px;
    margin-top: 15px;
    display: block;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 22px;
    font-weight: bolder;
    padding: 12px;
    vertical-align: middle;
}

.navbar a:hover {
    color: var(--main-color);
    text-shadow: 5px 5px 5px black;
    transition-duration: 0.4s;
}

h1, p, button {
    display: block;
    margin: 75px;
    color: var(--text-color);
}

.redtext {
    margin: 0;
    color: var(--main-color);
}

h1 {
    font-size: 250%;
}

#profile {
    font-size: 150%;
    overflow-wrap: break-word;
    max-width: 55%;
}

#profile h1 {
    max-width: 15em;
}

button {
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    padding: 15px;
}

button:hover {
    color: var(--text-color);
    background-color: rgb(8, 5, 34);
    transition-duration: 0.4s;
    box-shadow: 5px 5px 5px var(--main-color);
}

footer {
    position: absolute;
    bottom: 5px;
    margin: 0;
}

footer p {
    margin: 5px;
    bottom: 5px
}